<!DOCTYPE html>
<html lang="pt-br" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Netshoes by Bruno Macedo" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <title>Netshoes</title>

    <!-- FAVICON -->
    <link rel="shortcut icon" href="//static5.netshoes.net/1412.1.1/assets/img/favicon/favicon.ico"/>
    <link rel="icon" sizes="16x16 32x32" href="//static5.netshoes.net/1412.1.1/assets/img/favicon/favicon.ico"/>

    <!-- NETSHOES STYLE GUIDE -->
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css" />
    <link rel="stylesheet" href="public/css/structure.css"/>
    <link rel="stylesheet" href="public/css/home.css"/>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />

    <!--[if IE]>
    <link rel="stylesheet" href="//static5.netshoes.net/1412.1.1/assets/css-min/theme-common/ie-fix.css" type="text/css" media="all"/>
    <![endif]-->
  </head>
  <body>
  <div class="ng-overflow-nt" ng-controller="MyController">
    <section class="main-guide btn-add-cart">
      <md-list>
        <md-list-item ng-repeat="product in products" id="product{{product.id}}" ng-click="addCart(product)">
          <figure class="figure-image-overflow">
            <img ng-src="uploads/products/{{product.sku}}.jpg" class="md-image" alt="{{ product.title }}">
          </figure>
          <div class="h1-tt-products">
            <h1>{{ product.title }} {{ product.description != 0 ? ' - ' : '' }}  {{ product.description }}</h1>
            <hr class="y-line" />
            <p class="product-price">{{ product.price | currency : product.currencyFormat + ' ' }}</p>
            <p class="product-installments">ou {{ product.installments }}x {{ product.price / product.installments | currency : product.currencyFormat + ' ' }}</p>
          </div>
        </md-list-item>
      </md-list>
    </section>

    <aside class="aside-cart" ng-show="cartProducts.length">
        <section class="wrapper">

          <div class="div-tt-cart">
            <h2 class="h2-tt-cart">
              <div class="bounce-cart-count">
                <md-icon md-svg-icon="images/icon_cart.svg"></md-icon>
                <i>{{ cartProducts.length }}</i>              
              </div>
              <span>Sacola</span>
            </h2>
          </div>

          <ul class="ul-cart-pp">
            <li ng-repeat="product in cartProducts" class="li-cart">
              <div class="cart-flex">
                <figure class="cart-image">
                  <img ng-src="uploads/products/{{product.sku}}.jpg" alt="{{ product.title }}">
                </figure>
                <div class="cart-description">
                  <h3>{{ product.title }}</h3>
                  <p>{{ product.availableSizes[0] }} | {{ product.style }}</p>
                  <p>Quantidade: {{product.count}}</p>
                </div>
                <div class="cart-last-row">
                  <md-button class="md-icon-button md-primary btn-close-cart" ng-click="deleteItem(product)" aria-label="icon_close">
                    <md-icon md-svg-icon="images/icon_close.svg"></md-icon>
                  </md-button>
                  <p class="cart-price">{{ product.price * product.count | currency : product.currencyFormat + ' ' }}</p>
                </div>
              </div>
            </li>

            <li class="cart-subtotal">
              <div><span>Subtotal</span></div>
              <div class="cart-total-price">
                <span class="price">{{ cartProducts.price }}</span>
                <span>ou em até 10 x {{ cartProducts.price / 10 | currency : 'R$ ' }}</span>
              </div>
            </li>

          </ul>

        </section>
      </aside>


  </div>

    <!-- NODE MODULES -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>

    <!-- MY SCRIPTS -->
    <script src="app/app.js"></script>
    <script>
    	myApp.controller('MyController', function($scope, products) {

      $scope.products = products;

      $scope.cartProducts = [];

      $scope.deleteItem = function(item) {
        var cartProducts = $scope.cartProducts;
        var match = getMatchedCartItem(item);
        if (match.count > 1) {
          match.count -= 1;
          return;
        }
        cartProducts.splice(cartProducts.indexOf(item), 1);
      }

      $scope.addCart = function(item) {
        var match = getMatchedCartItem(item);
        if (match) {
          match.count += 1;
          return;
        }
        var itemToAdd = angular.copy(item);
        itemToAdd.count = 1;
        $scope.cartProducts.push(itemToAdd);
      }

      function getMatchedCartItem(item) {
        return $scope.cartProducts.find(function(itm) {
          return itm.id === item.id
        });

      }

    }).factory("products", function() {
      var products = {};

      products.data = {"products": [
          {
            "id": 0,
            "sku": 8552515751438644,
            "title": "Camisa Nike Corinthians I",
            "description": "14/15 s/nº",
            "availableSizes": ["S", "G", "GG", "GGG"],
            "style": "Branco com listras pretas",
            "price": 229.9,
            "installments": 9,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 1,
            "sku": 18644119330491312,
            "title": "Camisa Nike Corinthians II",
            "description": "14/15 s/nº",
            "availableSizes": ["S", "G", "GG", "GGG"],
            "style": "Preta com listras brancas",
            "price": 229.9,
            "installments": 9,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 2,
            "sku": 11854078013954528,
            "title": "Camisa Feminina Nike Corinthians I",
            "description": "14/15 s/nº",
            "availableSizes": ["S", "G"],
            "style": "Branco com listras pretas",
            "price": 199.9,
            "installments": 7,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 3,
            "sku": 876661122392077,
            "title": "Camisa Feminina Nike Corinthians II",
            "description": "2014 s/nº",
            "availableSizes": ["S", "G"],
            "style": "Preto com listras brancas",
            "price": 199.9,
            "installments": 7,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 4,
            "sku": 9197907543445677,
            "title": "Camisa Nike Corinthians I",
            "description": "14/15 s/nº - Jogador",
            "availableSizes": ["GG"],
            "style": "Branco com listras pretas",
            "price": 349.9,
            "installments": 12,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": false
          },

          {
            "id": 5,
            "sku": 10547961582846888,
            "title": "Kit Corinthians - Camisa Nike II",
            "description": "14/15 + Camiseta 1º Mundial",
            "availableSizes": ["S", "G", "GG"],
            "style": "Preto",
            "price": 229.9,
            "installments": 9,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": false
          },

          {
            "id": 6,
            "sku": 6090484789343891,
            "title": "Calção Nike Corinthians",
            "description": "Goleiro 13/14",
            "availableSizes": ["GG", "GGG"],
            "style": "Branco",
            "price": 49.9,
            "installments": 0,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 7,
            "sku": 18532669286405342,
            "title": "Camisa Corinthians Réplica",
            "description": "1977 Infantil",
            "availableSizes": ["S"],
            "style": "Preto com listras brancas",
            "price": 109.9,
            "installments": 4,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 8,
            "sku": 5619496040738316,
            "title": "Calção Nike Strike Lgr Woven",
            "description": "",
            "availableSizes": ["GG"],
            "style": "Azul escuro",
            "price": 119.9,
            "installments": 4,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": false
          },

          {
            "id": 9,
            "sku": 11600983276356165,
            "title": "Jaqueta Corinthians CP",
            "description": "",
            "availableSizes": ["G", "GG"],
            "style": "",
            "price": 134.9,
            "installments": 5,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 10,
            "sku": 27250082398145995,
            "title": "Jaqueta Corinthians Urban c/ Capuz",
            "description": "",
            "availableSizes": ["G", "GG"],
            "style": "",
            "price": 249.9,
            "installments": 9,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 11,
            "sku": 39876704341265606,
            "title": "Jaqueta Corinthians Elite",
            "description": "",
            "availableSizes": ["S", "G"],
            "style": "Preto",
            "price": 99.9,
            "installments": 3,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 12,
            "sku": 12064273040195392,
            "title": "Tênis Nike Air Relentless",
            "description": "4 MSL",
            "availableSizes": ["40", "43"],
            "style": "Cinza com símbolo laranja",
            "price": 229.9,
            "installments": 9,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 13,
            "sku": 51498472915966366,
            "title": "Tênis Nike Biscuit Canvas",
            "description": "",
            "availableSizes": ["41"],
            "style": "Vermelho com detalhe em branco",
            "price": 129.9,
            "installments": 5,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 14,
            "sku": 10686354557628303,
            "title": "Camisa Nike Academy",
            "description": "GPX Poly 1",
            "availableSizes": ["S", "G", "GG"],
            "style": "Vermelho com detalhe em preto",
            "price": 99.9,
            "installments": 3,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 15,
            "sku": 11033926921508487,
            "title": "Camisa Nike Corinthians",
            "description": "Treino 2014",
            "availableSizes": ["S", "G", "GG", "GGG"],
            "style": "Branco com detalhe em azul",
            "price": 149.9,
            "installments": 5,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          },

          {
            "id": 16,
            "sku": 10412368723880253,
            "title": "Camisa Polo Corinthians Ouro",
            "description": "",
            "availableSizes": ["S", "G", "GG"],
            "style": "Preto com detalhe em dourado",
            "price": 129.9,
            "installments": 5,
            "currencyId": "BRL",
            "currencyFormat": "R$",
            "isFreeShipping": true
          }
        ]
      };

      return products.data.products;
    });

    if (!Array.prototype.find) {
      Array.prototype.find = function(predicate) {
        if (this == null) {
          throw new TypeError('Array.prototype.find called on null or undefined');
        }
        if (typeof predicate !== 'function') {
          throw new TypeError('predicate must be a function');
        }
        var list = Object(this);
        var length = list.length >>> 0;
        var thisArg = arguments[1];
        var value;

        for (var i = 0; i < length; i++) {
          value = list[i];
          if (predicate.call(thisArg, value, i, list)) {
            return value;
          }
        }
        return undefined;
      };
    }
    </script>
</body>
</html>