/* FORMAT SCROLL */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

/* GUIDE */
section.main-guide {
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	padding-bottom: 50px;
}

section.wrapper {
	padding: 4em 0;
}

/* DISPLAY PRODUCTS */
.ng-overflow-nt {
	overflow: hidden;
}

hr.y-line {
	width: 20px;
	height: 2px;
	margin: 9px auto;
	background-color: #dfbd00;
}

.figure-image-overflow {
	width: 180px;
	height: 230px;
	max-width: 100%;
	max-height: 100%;
	overflow: hidden;
}

.h1-tt-products {
	margin-top: 8px;
}

.product-price {
	font-weight: 600;
	font-size: 24px;
}

.product-price > b {
	font-size: 14px;
}

.product-installments {
    color: #7d7d7d;	
}

/* ASIDE NAV CART */
.aside-cart {
    background-color: #202025;
    color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    overflow-x: auto;
    height: 100%;
    width: 60%;
    transition:.5s linear all;
}

.aside-cart.ng-hide {
  transform: translate3d(100%,0,0);
}

.bounce-cart-count {
	display: inline-block;
	position: relative;
}

.bounce-cart-count i {
    width: 22px;
    height: 22px;
    font-weight: bold;
    position: absolute;
    line-height: 21px;
    right: -3px;
    bottom: -7px;
    border-radius: 100em;
    background-color: #dfbd00;
}

.div-tt-cart {
	text-align: center;
	margin: 0 auto;
}

.h2-tt-cart {
	display: inline-block;
}

.h2-tt-cart span {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin-left: 18px;
    display: inline-block;
    vertical-align: middle;
}

.h2-tt-cart md-icon {
	width: 45px;
	height: 50px;
}

.ul-cart-pp {
	margin-top: 45px;
}

.li-cart {
	cursor: pointer;
	list-style: none;
	padding: 0 4em;
}

.li-cart > .cart-flex {
	padding: 2em 0;
	border-top: 3px solid #0b0b0d;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.li-cart:hover {
	background-color: #0b0b0d;
}

.li-cart:hover .btn-close-cart svg {
	color: #ffffff;
	fill: #ffffff;	
}

.cart-image {
	width: 50px;
	height: 50px;
	overflow: hidden;
}

.cart-image img {
	width: 100%;
	height: auto;
}

.cart-description {
	text-align: left;
	width: 62%;
}

.cart-description h3 {
	color: #ffffff;
}

.cart-description p {
	color: #999999;
}

.cart-last-row {
	text-align: right;
    width: 20%;
}

.cart-price {
	font-weight: 700;
	color: #dfbd00;
	margin-top: 15px;
}

.cart-subtotal {
	padding: 4em;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cart-subtotal span {
	color: #999999;
	text-transform: uppercase;
	display: block;
}

.cart-subtotal div {
	width: 50%;
}

.cart-total-price {
	text-align: right;
}

.cart-total-price .price {
	font-size: 24px;
	color: #dfbd00;
	font-weight: 700;
}

/* BUTTONS */
.btn-close-cart svg {
    color: #0b0b0d;
    fill: #0b0b0d;
    transition: all 0.2s linear;
}

.btn-close-cart:hover svg {
	transform: scale(1.4);
}

/* MD COMPONENTS */
md-list {
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

md-list-item._md-button-wrap {
	width: 32%;
    flex-wrap: wrap;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 32%;
    -ms-flex: 0 0 32%;
    flex: 0 0 32%;
}

md-list-item._md-button-wrap:nth-child(3n-1) {
    margin-left: 2%;
    margin-right: 2%;
}

md-list-item, md-list-item .md-list-item-inner {
    flex-direction: column;
	flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

md-list-item._md-button-wrap>div.md-button:first-child {
	padding: 16px;
}

.md-button.md-default-theme:not([disabled]):hover, .md-button:not([disabled]):hover {
    background-color: rgba(255,255,255,0);
}

md-list-item .md-list-item-inner:before, md-list-item:before {
	min-height: 16px;
}

@media all and (max-width: 770px) {
    md-list-item._md-button-wrap {
    	width: 47%;
	    -webkit-flex: 0 0 47%;
		-ms-flex: 0 0 47%;
		flex: 0 0 47%;
		margin-left: 1%;
    	margin-right: 2%;
    }

    md-list-item._md-button-wrap:nth-child(3n-1) {
	    margin-left: 1%;
	    margin-right: 2%;
	}
}

@media all and (max-width: 525px) {
    md-list-item._md-button-wrap {
    	width: 100%;
	    -webkit-flex: 0 0 100%;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		margin-left: 0;
	    margin-right: 0;
    }
}